@model HitApp.Models.FilePath

@{
    ViewData["Title"] = "Details";
}

<h2>Image for @Model.Project.ProjectName Project</h2>

<div style="margin-bottom:20px" class="back">
    <a  asp-action="Index/@Model.ProjectId">
        <input type="button" value="Back to All Images" class="btn btn-default" />
    </a>
</div>
<div>   
    <img style="height:70vh" src="/UserImages/@Model.FileName" />
</div>


