
@{
    ViewData["Title"] = "ImageUpload";
}

<h2>ImageUpload</h2>

<a href="/projects/details/@ViewBag.ProjectId">Return to Project</a> <br />

<div>
    <img src="@ViewBag.Image" id="uploadedImage"/>
</div>



