@{
    ViewData["Title"] = "About";
}


<body id="About">

    <div class="about-grid">


        <div>
            <img src="~/images/TimAllen.jpg" />
            <div class="text-padding">
                <h2>About</h2>
                <p id="Overview">
                    Welcome to the Home Improvement Tracker. We provide users with a digital storing and
                    filing system that enables users to track their home renovation projects. Project requirements can vary greatly
                    from one renovation to the next, but now with a few entries, it's possible to store all this information in one place.
                    Take advantage of this free opportunity by registering today!
                </p>
            </div>
        </div>
        <div>

            <img src="~/images/People4.jpg" />
            <div class="text-padding">
                <h2>Dashboard</h2>
                <p class="Dash">
                    The Dashboard is an area users can visualize the status of their current renovations.
                    The progress bar graph displayed on each project card compares the user's total spending to their projected budget.
                    This page also allows users to create projects and to see the details for a project on the Dashboard.
                </p>
            </div>
        </div>

        <div>
            <img src="~/images/Work.jpg" />
            <div class="text-padding">
                <h2>Expenses</h2>
                <p id="Tools">
                    Users can add expenses associated with thier home renovation such as labor costs as well as material
                    costs. The project's total expense is calculated after each expense entry. The home owner can easily
                    see how much money is being spent on the renovation.
                </p>
            </div>
        </div>

        <div>
            <img src="~/images/People3.jpg" />
            <div class="text-padding">
                <h2>Inspire</h2>
                <p id="Inspire">
                    The Resources page provides links to users that need some ideas on how to get started on their next home project.
                    Inspiration through visualization helps to ensure that our users get exactly what they want.
                    There are links to trusted Do It Yourself (DIY) websites for our users that may need direction.
                </p>
            </div>
        </div>

        
    </div>
</body>