@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<body id="About">

    <div class="resource-grid">


        <div>
            <img src="~/images/TimAllen.jpg" />
            <p id="Overview">
                Welcome to the "blah" . We provide users with a digital storing and
                filing system that enables tracking of all your project requirements. These can vary greatly
                from each project ranging from specific tools and materials ,the specific area being renovated ,
                forms of measurement,and even contractors that are capable of doing the work. Keeping track of all
                this information can seem daunting at times due to the sheer scope of certain projects
                but now with this app your time will be spent more wisely no longer rumidging through reciepts.Here
                you can save all that information with a few clicks and a few pics from your phone.
                After creating a login and password which is accessed on the top of your screen, you have free access
                to the site. We hope you enjoy our product.


            </p>
        </div>
        <div>
            <img src="~/images/People4.jpg" />
            <p class="Dash">
                The path to accomplishing goals is not always simple but all share a common trait,establishing a plan. We have
                created a way for our users to do exactly that called the Dashboard.Once there, they are able
                to create projects and store information that can be accessed at any time. After creating a project users can set a budget
                that will evaluate projected costs. This is shown by a graph on each project comparing your spending to your specific budget
                being a healhy reminder for our users. Not only is it possible to create new projects but also viewing current and past projects once
                added to a profile is only one extra click away making navigation easier and much simpler.
            </p>
        </div>
        <div>
            <img src="~/images/Work.jpg" />
            <p id="Tools">
                We understand here on the "Blah" that no job is too great when equipped with the right tools. Due
                to this fact we have acknowledged the importance of tracking tools required and tools previously ascertained by
                createing a way for users to add tools and expenses to their project dashboard. This way users can know exactly what is
                in their toolbox before heading to their local department store saving time and money repurchasing tools previously aquired.
                This feauture is integrated in a way that when purchasing a new tool or material will immediately be stored
                in the Project expense account to show exactly where our users hard earned money is being spent.Meticulous attention to detail
                is a virtue we strive to uphold and continue to nurture for our users with every adddition.
            </p>
        </div>
        <div>
            <img src="~/images/People3.jpg" />
            <p id="Inspire">
                Not everyone has the knowledge and creativity to build things with their own hands but here we strive to cater to all users .
                Even users like myself that struggle to hang a portrait with the hardware provided without instructions.
                For those that need a little guidance or inspiration we provide links to other websites for that specific purpose.
                Inspiration requires just one click to view users before and after pictures aiding in visualization to ensure that our users get exactly what they want. Providing
                links to trusted Do It Yourself websites encourages positive outcomes in our users endeavors. Also when searching for specific
                products we provide a way to link directly to local department stores to mark off item checklists for things needed and wether available at a specific locations.
            </p>
        </div>
        <div>
            <img src="~/images/Contractor.jpg" />
            <p id="Workers">
                Here at "blah" we are dedicated to creating the best experience imaginable for our users by continuing to expand our ammenities. One of the most recent additions is the
                Pro page where contractors can create profiles to showcase their work to attract more customers. There Pro users can upload details and pictures of projects previously
                completed to ensure the quality of their work. Through this new feature regular users can contact contractors in house for direct inquiries. Just another way we try to
                assist our users in making their renovation dreams a reality. If there are any questions or ideas to expand our inventory of services please feel free to contact our team
                directly on the about page.
            </p>
        </div>
    </div>
</body>