@{
    ViewData["Title"] = "About";
}


<body id="About">

    <div class="about-grid">


        <div>
            <img src="~/images/TimAllen.jpg" />
            <div class="text-padding">
                <h2>About</h2>
                <p id="Overview">
                    Welcome to the Home Improvement Tracker . We provide users with a digital storing and
                    filing system that enables tracking of users home renovation projects. Project requirements can vary greatly
                    from each renovation but now with a few entrys it is possible to store all this information in one place.
                    Take advantage of this free opportunity by registering today!


                </p>
            </div>
        </div>
        <div>

            <img src="~/images/People4.jpg" />
            <div class="text-padding">
                <h2>Dashboard</h2>
                <p class="Dash">
                    The Dashboard is an area users can plan out their renovations and display short summaries of stored information. This page allows users to create projects and set a budget
                    that evaluates projected costs. This is displayed by a graph on each project card comparing your spending to your specific budget that changes depending on the percentage used.
                </p>
            </div>
        </div>

        <div>
            <img src="~/images/Work.jpg" />
            <div class="text-padding">
                <h2>Expenses</h2>
                <p id="Tools">
                    Through the expense section we created a way for users to add tools and expenses to their specific projects.
                    This feauture is integrated in a way that after entry will immediately be stored
                    in the Project expense account to show exactly where our users hard earned money is being spent.
                </p>
            </div>
        </div>

        <div>
            <img src="~/images/People3.jpg" />
            <div class="text-padding">
                <h2>Inspire</h2>
                <p id="Inspire">
                    Inspiration requires just one click to view users before and after pictures aiding in visualization to ensure that our users get exactly what they want. Providing
                    links to trusted Do It Yourself websites encourages positive outcomes for our users that may need direction. We also provide
                    a way to link directly to local department stores to mark off user's checklists for things needed and wether available at specific locations.
                </p>
            </div>
        </div>

        <div>
            <img src="~/images/Contractor.jpg" />
            <div class="text-padding">
                <h2>Contractors</h2>
                <p id="Workers">
                    In the contractor section we allow users to add contractor information that can be can be accessed by all users . Through this feature users can contact contractors in house for direct inquiries. Just another way we try to
                    assist our users in making their renovation dreams a reality.
                </p>
            </div>
        </div>
    </div>
</body>