@model IEnumerable<HitApp.Models.Project>

@{
    ViewData["Title"] = "Dashboard";
}

@section Styling
    {
    <link href="~/css/Dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
}

<div id="tabs">

    <div class="back">
        <a asp-controller="Projects" asp-action="Index">
            <input type="button" value="GO TO MY PROJECTS" class="btn btn-default" />
        </a>
    </div>
    <div class="back">
        <a asp-controller="Projects" asp-action="Create">
            <input type="button" value="CREATE PROJECT" class="btn btn-default" />

        </a>
    </div>

</div>

@foreach (var project in Model)
{

    @if (project.ProjectIsOnDashboard == true)
    {

        <div class="cards">
            <div class="left-card">
                <h3>@project.ProjectName</h3>
                <div class="back">
                    <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.ProjectId">
                        <input type="button" value="See Details" class="btn btn-default" />
                    </a>
                </div>

            </div>

            <div>
                <h3 class="center-card">Budget spent</h3>
                <div class=" w3-light-grey w3-round-xlarge" style="width: 500px">
                    <div class="progressBar" style="width: 0%"><span class="progress"></span>%</div>
                </div>
            </div>
            <div class="right-card">
                <p><span class="projectTotalBudget">@Html.DisplayFor(ModelItem => project.ProjectTotalBudget)</span> : Budget</p>
                <p><span class="projectTotalExpenses">@Html.DisplayFor(ModelItem => project.ProjectTotalExpenses)</span> : Total Expenses</p>
                -------------------------
                <p>
                    <span class="balance"></span>
                </p>

            </div>
        </div>
    }
}

@section Scripts
    {
    <script src="~/js/accounting.js"></script>
    <script src="~/js/ProgressBar.js"></script>
}
