<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body class="Resource">
    <div class="resource-grid">
        <div class="cards">
            <h2>Resources</h2>
            <h5>Home Improvement Sites</h5>

            <ul>

                <li>
                    <a href="https://www.homedepot.com/" target="_blank"> <img src="~/images/HomeDepot.png" /></a>
                </li>

                <li>
                    <a href="https://www.lowes.com/" target="_blank"> <img src="~/images/lowes.png" /></a>
                </li>

                <li>
                    <a href="https://www.menards.com/" target="_blank"><img src="~/images/menards.png" /></a>
                </li>

            </ul>
        </div>
        <div class="cards">
            <h2>Inspiration</h2>
            <h5>DIY Pictures and Info</h5>
            <ul>
                <li>
                    <a href="https://www.hgtv.com/" target="_blank"><img src="~/images/HGTV.png" /></a>
                </li>

                <li>
                    <a href="https://www.houzz.com/" target="_blank"><img src="~/images/houzz.png" /></a>
                </li>

                <li>
                    <a href="https://www.diynetwork.com/" target="_blank"><img src="~/images/DIYNetwork.png" /></a>
                </li>



            </ul>
        </div>
        <div class="cards">
            <h2>Contractors</h2>
            <h5>Search Local Proffesionals</h5>
            <ul>
                <li><a href="https://pro.homeadvisor.com/home-improvement-contractor-leads/" target="_blank"><img src="~/images/home advisor 2.png" /></a></li>
                <li><a href="https://www.angieslist.com/companylist/contractor.htm" target="_blank"><img src="~/images/angies-list-logo.png" /></a></li>
                <li><a href="https://www.yelp.com/nearme/contractors" target="_blank"><img src="~/images/yelp.png" /></a></li>
            </ul>
        </div>

    </div>

</body>
</html>