@model HitApp.Models.Expense

@{
    ViewData["Title"] = "Edit";
}
@section Styling{
<link href="~/css/Creates.css" rel="stylesheet" />

<link href="~/css/Expenses.css" rel="stylesheet" />

}

<div class="back" id="go-to">
    <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.ProjectId">
        <input type="button" value="Back to @Model.Project.ProjectName" style="font-weight:bold" class="btn btn-default" />
    </a>
</div>

<div class="cards">
    <h2> Edit Expense For @Model.Project.ProjectName</h2>


    <div class="row">
        <div class="col-md-4">
            <form class="page-form" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ExpenseId" />
                <input type="hidden" asp-for="ProjectId" />

                <div class="form-group">
                    <label asp-for="ExpenseName" class="control-label"></label>
                    <input asp-for="ExpenseName" class="form-control" />
                    <span asp-validation-for="ExpenseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpenseCost" class="control-label"></label>
                    <input asp-for="ExpenseCost" class="form-control" />
                    <span asp-validation-for="ExpenseCost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpenseDatePurchased" class="control-label"></label>
                    <input asp-for="ExpenseDatePurchased" class="form-control" />
                    <span asp-validation-for="ExpenseDatePurchased" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductUrl" class="control-label"></label>
                    <input asp-for="ProductUrl" class="form-control" />
                    <span asp-validation-for="ProductUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpenseNotes" class="control-label"></label>
                    <textarea id="add-info" asp-for="ExpenseNotes" class="form-control"></textarea>
                    <span asp-validation-for="ExpenseNotes" class="text-danger"></span>
                </div>

                <div id="create-exp" class="form-group">
                    <input type="submit" value="SAVE" style="font-weight:bold" class="btn btn-default" />
                </div>

            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
