
.col-md-4{
    width:100%;
    
}
.form-group {
    width: 300px;
    margin: auto;
}

.row {
    padding: 0px;
}
form {
    display: grid;
    grid-template-columns: 1fr;
}
@media screen and (min-width: 600px){
    .body-content{
    }
    .row {
        display: flex;
    }
    .page-form {
        padding:20px;
        border-radius:5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:35px;
        margin:0px;
        background-color:rgba(57, 120, 141, 0.56);
    }
 
    #add-info{
        height:100px;
    }
    #create-proj, #create-cont {
        width: auto;
    }

    #back-button, #create-exp  {
        margin-left: 30px;
    }
    .back{
        margin-top:20px;
    }
    .form-group {
        width: 300px;
        margin: auto;
    }
}