body {
    background-image: url(https://c1.staticflickr.com/9/8228/8538058050_6ce976ee74_b.jpg) !important;
    background-attachment: fixed;
    background-size: cover;
}

.cards {
    background-image: url();
    border-radius: 10px;
    padding: 2em;
    margin: 1em 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    box-shadow: black 5px 6px 13px 2px;
    color: black;
    flex-basis: 15em;
    /*text-shadow: -1px -1px 0 #637ea4;*/
    font-size: 1.1em;
    background-color: #fff;
}


.left-card {
    width: 15%;
}



#tabs a, h2 {
    color: white;
}

    .cards a:hover, #tabs a:hover {
        color: #637ea4;
    }



.left-card h3 {
    font-size: 2.5em;
    /*text-shadow: 2px 1px #637ea4;*/
}

#tabs {
    display: flex;
    justify-content: space-between;
}


.progressBar {
    height: 40px;
    background-color: lightgreen;
    border-radius: 10px;
    text-align: center;
    padding-top: 9px;
}


.w3-round-xlarge {
    border-radius: 10px !important;
}

.progressBar span {
    background-color: rgba(1, 0, 0, 0.00);
}

.center-card {
    text-align: center;
    height: 40px;
}

.right-card {
    background-color: rgb(156, 167, 186);
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    font-weight: bold;
    width: 27.5%;
    color: white;
}

.w3-light-grey {
    box-shadow: 5px 5px 7px black;
}

.right-card p {
    color: white;
}

.back .btn {
    box-shadow: 1px 1px 1px #000;
    margin-top: 50px;
    font-weight: bold;
}
