/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 0px;
    background-color: rgba(193, 193, 193, 0.2784313725490196);
   
}
.Index {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgba(193, 193, 193, 0.2784313725490196);
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    /*filter: saturate(50%);
     Browser Specific
    -webkit-filter: saturate(50%);
    -moz-filter: saturate(50%);
    -ms-filter: saturate(50%);*/
    /*-webkit-filter: blur(5px);*/
}

   
.row{
    padding-left:400px;
    background-color: rgba(193, 193, 193, 0.2784313725490196);
   
}
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}
.foot {
    color: white;
}
.navbar-inverse {
    background: linear-gradient( rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5) ), url(../images/wood.jpg);
}

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
        color: white;
    }
/*.container.body-content {
    background: url('../images/Drawing.jpg')no-repeat center;
    padding-left:0px;
    padding-right:0px;
    width:auto;
    height:605px;
    overflow:hidden;
    background-size:cover;
    background-position:top;
}*/
/*Home Page*/
#Index .container{
    
    padding-bottom: 10px;
    margin-left:0px;
    margin-right:0px;
    width:100%;
    height:100%;
}

.col-md-3 img {
    
    width: 100%;
    height:25%;
    
}
/*editing link text and background color*/
.col-md-3 {
    color: white;
    background: rgba(0,0,0, 0.5);
    padding:10px;
    margin:30px;
    height:427.38px;
}
#project-id {
    display: none;
} 

#expense-links {
    list-style: none;
}

table {
    white-space: nowrap;
}

.truncate {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Wrapping element
 Set some basic padding to keep content from hitting the edges */
    .body-content {
    padding-left: 5px;
    padding-right: 5px;
}


.Welcome , .Plan , .Help , .Supplys , .Contractors{
    display:inline-flex;
    margin:20px;
    height:300px;
}
    .Welcome p , .Supplys p , .Contractors p{
        font-size: 1em;
        text-shadow: 1px 1px 1px #000;
        color: white;
        display: inline-block;
        background: rgba(0,0,0, 0.5);
        color: white;
        height:300px;
    }


    .Plan p , .Help p{
        order: 1;
        font-size: 1em;
        text-shadow: 1px 1px 1px #000;
        display: inline-block;
        background: rgba(0,0,0, 0.5);
        color: white;
        height:300px;
    }
.Plan img , .Help img {
        order:2;
        height: 300px;
        padding: 0px;
        vertical-align: middle;
    }
#Index{
    background:url(../images/wood.jpg);
}

#Index .body-content{
    padding-left:0px;
    padding-right:0px;
}
/* Carousel */
.carousel-caption p {
    font-size: 25px;
    line-height: 1.4;
    color: white;
    text-shadow: 1px 1px 1px #000;
    /*background: rgba(0,0,0, 0.1);*/
}
#myCarousel{
    border-color:darkred;
}
/*.container.body-content {
    background: url('../images/Drawing.jpg')no-repeat center;
    padding-left:0px;
    padding-right:0px;
    width:auto;
    height:605px;
    overflow:hidden;
    background-size:cover;
    background-position:top;
}*/

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}

    .carousel .item img {
        width: 100%; /*img width*/
    }
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
    height: 100%;
}
/*About Page*/
#About {
    background: url(../images/wood.jpg) no-repeat fixed center;
   
    background-size: cover;
}
.Welcome, .Plan, .Help, .Supplys, .Contractors {
    display: inline-flex;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 50px;
    height: 300px;
    font-size: 18px;
}

    .Welcome p, .Supplys p, .Contractors p {
        color: white;
        display: inline-block;
        background: rgba(0,0,0, 0.5);
        color: white;
        height: 300px;
    }


    .Plan p, .Help p {
        order: 1;
        display: inline-block;
        background: rgba(0,0,0, 0.5);
        color: white;
        height: 300px;
    }

    .Plan img, .Help img {
        order: 2;
        height: 300px;
        padding: 0px;
        vertical-align: middle;
    }
/*Resource Page*/
.Resource {
    background: url('../images/background.jpg') no-repeat fixed bottom;
}

   
.row{
    padding-left:400px;
}


.col-md-3 img {
    
    width: 100%;
    height:25%;
    
}
/*editing link text and background color*/
.col-md-3 {
    color: white;
    background: rgba(0,0,0, 0.5);
    padding: 10px;
    margin: 30px;
    height: 427.38px;
}

/*ProjectList Page*/
#ProjectIndex {
    background: url(../images/wood.jpg) no-repeat fixed center;
    background-size: cover;

}
    #ProjectIndex h2, p {
        color:white;
        border-color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    #ProjectIndex .table {
        background: rgba(255, 0, 0, 0.5);
        border-style: ridge;
        border-color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        color: white;
    }
    
#project-id {
    display: none;
}    







/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Project Details*/
#ProjectDetails {
    background: url(../images/lightwood.jpg) no-repeat, fixed, center;
    background-size: cover;
    /*background: url(../images/varywood.jpg) no-repeat, fixed, center;*/
    font-size: large;
}

.image-upload {
    padding-left: 5.5em;
    color: black;
    display: flex;
}

#ProjectInfo{

}

#ProjectCrud {
    padding-top: 2em;
    padding-bottom: 4em;
    display: flex;
    flex-direction: row;
    margin-left: 54em;
    width: 10em;
    justify-content: space-between;
    font-size: large;
}

#ProjectCrud a{
    color: rgb(234, 234, 225);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#ProjectCrud a:hover {
    color: rgb(26, 26, 255);
    text-shadow: -1px -1px 0 #ffe6e6, 1px -1px 0 #ffe6e6, -1px 1px 0 #ffe6e6, 1px 1px 0 #ffe6e6;
}

#Contractors {
    border-radius: 5px;
    margin: 0px;
    padding: 0.3em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    background-color: rgb(128, 159, 255);
    font-size: large;
}

.contractor-table-header {
    color: rgb(234, 234, 225);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#ExpenseTable { /*Expenses table. Don't change id name, it messes up formatting.*/
    border-radius: 5px;
    margin-top: 2em;
    padding: 0.3em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    background-color: rgb(255, 102, 102);
    font-size: large;
}

.expense-table-header {
    color: rgb(234, 234, 225);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}