@model HitApp.Models.Contractor

@{
    ViewData["Title"] = "Create";
}


@section Styling{
<link href="~/css/Creates.css" rel="stylesheet" />
<link href="~/css/Contractors.css" rel="stylesheet" />
}


<div class="create-bg">
    <div class="back" id="go-to">
        <a asp-controller="Projects" asp-action="Details" asp-route-id="@ViewBag.ProjectId">
            <input type="button" value="Back to @ViewBag.ProjectName" class="btn btn-default" />
        </a>
    </div>
    <div class="cards">
        <h2>Create New Contractor for @ViewBag.ProjectName</h2>




        <div class="row">
            <div class="col-md-4">
                <form id="contractors" class="page-form" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ContractorCompany" class="control-label"></label>
                        <input asp-for="ContractorCompany" class="form-control" />
                        <span asp-validation-for="ContractorCompany" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractorName" class="control-label"></label>
                        <input asp-for="ContractorName" class="form-control" />
                        <span asp-validation-for="ContractorName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractorService" class="control-label"></label>
                        <input asp-for="ContractorService" class="form-control" />
                        <span asp-validation-for="ContractorService" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractorEmail" class="control-label"></label>
                        <input asp-for="ContractorEmail" class="form-control" />
                        <span asp-validation-for="ContractorEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractorPhone" class="control-label"></label>
                        <input asp-for="ContractorPhone" class="form-control" />
                        <span asp-validation-for="ContractorPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractorWebsiteUrl" class="control-label"></label>
                        <input asp-for="ContractorWebsiteUrl" class="form-control" />
                        <span asp-validation-for="ContractorWebsiteUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractorAddress" class="control-label"></label>
                        <input asp-for="ContractorAddress" class="form-control" />
                        <span asp-validation-for="ContractorAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractorCity" class="control-label"></label>
                        <input asp-for="ContractorCity" class="form-control" />
                        <span asp-validation-for="ContractorCity" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ContractorAdditionalNotes" class="control-label"></label>
                        <textarea id="add-info" asp-for="ContractorAdditionalNotes" class="form-control"></textarea>
                        <span asp-validation-for="ContractorAdditionalNotes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractorState" class="control-label"></label>
                        <input asp-for="ContractorState" class="form-control" />
                        <span asp-validation-for="ContractorState" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractorZip" class="control-label"></label>
                        <input asp-for="ContractorZip" class="form-control" />
                        <span asp-validation-for="ContractorZip" class="text-danger"></span>
                    </div>
                    <div id="create-cont" class="form-group">
                        <input type="submit" value="CREATE" id="sub-btn" class="btn btn-default" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
